
/* Estilo general del pie de página */
.footer {
    padding: 40px 0;
    background-color: #343a40;
    color: #fff;
}

/* Títulos de las secciones del pie de página */
.footer h5 {
    color: #b5651d; /* Color óxido */
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Listas sin estilo */
.footer .list-unstyled {
    padding-left: 0;
    list-style: none;
}

/* Alineación y estilo del texto */
.footer p,
.footer ul li {
    color: #ccc;
}

/* Estilo de los enlaces en el pie de página */
.footer a {
    color: #ccc;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Estilo del formulario de suscripción */
.footer .form-inline {
    justify-content: center;
}

/* Estilo de los íconos de pago */
.payment-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.payment-icon {
    max-width: 50px; /* Define el ancho máximo de la imagen */
    height: auto; /* Mantén la proporción de aspecto */
}

.small {
    max-width: 250px; /* Reducir aún más el tamaño si es necesario */
}
